@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Todo" asp-action="Index" class="btn btn-lg btn-primary" type="button">Todo List</a>
</div>
